/node_modules
/public/hot
/public/storage
/public/svg
/public/include
/public/images
/public/demos
/public/one-page
/public/less
/public/sass

/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
